body {
  background-color: #dbdbdb;
  font-family: poppins;
}

.box {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  height: 425px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 3% 3% 35% 3%;
}

form {
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

::placeholder {
  text-align: center;
  font: Poppins;
  font-size: 32px;
  font-weight: 800i;
}

form div {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px 30px;
}

form div label {
  color: hsl(0, 1%, 44%);
  margin-top: 40px;
  font-family: poppins;
  font-weight: 400;
  padding: 0px 0px 5px 0px;
}

form div input {
  width: 100%;
  height: 15%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"] {
  font-family: poppins;
  font-size: 32px;
  font-weight: 800;
  color: hsl(0, 1%, 44%);
}

div button {

}